doctype html 
html(ng-app="clientes")
    head
        meta(charset="UTF-8")
        title Clientes
    body(ng-Controller="clientesCtrl")
        div(class="container")
            h3(class="display-4") Formulario de Cliente
            div(id="ProjetoCliente")
                div(class="panel panel-primary")
                    div(class="panel-heading")
                        h5(class="panel-title")
                            i(class="fa fa-plus-circle fa-1x" ng-show="!check")  Novo Usuário
                            i(class="fa fa-plus-circle fa-1x" ng-show="check")  Editar Usuário
                    div(class="panel-body")
                        form(name="ClienteForm")
                            div(class="row mb")
                                div(class="col-md-4")
                                    p Nome 
                                        font(color="red") *
                                    input(type="text" class="form-control" ng-model="cliente.nome" name="nome" placeholder="João" ng-required="true")
                                div(class="col-md-4")
                                    p Sobrenome 
                                    input(type="text" class="form-control" ng-model="cliente.sobrenome" name="sobrenome" placeholder="Silva")
                                div(class="col-md-4")
                                    p Email  
                                        font(color="red") *
                                    input(type="text" class="form-control" ng-model="cliente.email" name="email" placeholder="exemplo@exemplo.com" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{3,5}$/")
                            div(class="row mb")
                                div(class="col-md-2")
                                    p Telefone 
                                    input(type="text" class="form-control" ng-model="cliente.telefone" name="telefone" placeholder="(99) 9999-9999 " data-mask="(00) 0000-0000")
                                div(class="col-md-2")
                                    p Data de Nascimento 
                                    input(type="text" class="form-control" ng-model="cliente.dataDeNascimento" name="dataDeNascimento" placeholder="DD/MM/YY" data-mask="00/00/0000")
                                div(class="col-md-2")
                                    p Estado 
                                        font(color="red") *
                                    select(class="form-control" ng-options="estado.nome as estado.nome for estado in estados" ng-model="cliente.estado" name="estado" ng-required="true")
                                        option(value="") Estado
                                div(class="col-md-2")
                                    p Cidade 
                                        font(color="red") *
                                    select(class="form-control" ng-options="cidade.nome as cidade.nome for cidade in cidades" ng-model="cliente.cidade" name="cidade" ng-disabled="!cliente.estado" ng-required="true"  )
                                        option(value="") Cidade
                                div(class="col-md-3")
                                    p Sexo 
                                        font(color="red") *
                                    input(type="radio" ng-model="cliente.sexo" name="sexo" value="Feminino") 
                                    b  Feminino
                                    input(type="radio" ng-model="cliente.sexo" name="sexo" value="Masculino") 
                                    b  Masculino
                            div(class="row")
                                div(class="col-md-2")
                                    p Obrigatório 
                                        font(color="red") *
                    //Rodapé que mostra os erros e os buttons de limpar e salvar
                    div(class="panel-footer")
                        div(ng-show="ClienteForm.nome.$error.required && ClienteForm.nome.$dirty" class="alert alert-danger")
                            p Preencha o nome.
                        div(ng-show="ClienteForm.email.$error.required && ClienteForm.email.$dirty" class="alert alert-danger")
                            p Preencha o email.
                        div(ng-show="ClienteForm.email.$error.pattern" class="alert alert-danger")
                            p O formato do email deve ser exemplo@exemplo.com
                        //Checkemail tem a funcionalidade de passar se o email já tem cadastrado no banco.
                        div(ng-show="checkEmail && ClienteForm.email.$pristine" class="alert alert-danger")
                            p Email já em uso.
                        div(ng-show="ClienteForm.estado.$error.required && ClienteForm.estado.$dirty" class="alert alert-danger")
                            p Escolha o estado.
                        div(ng-show="ClienteForm.cidade.$error.required && ClienteForm.cidade.$dirty" class="alert alert-danger")
                            p Escolha a cidade.
                        div(ng-show="ClienteForm.sexo.$error.required" class="alert alert-danger")
                            p Escolha o sexo.
                        div(class="input-group col-md-12 text-right")
                            //Check é necessario para mudar as configurações dos botões a partir do momento que o usuário clica em editar
                            div(ng-show="!check")
                                button(class="btn btn-md btn-default border" ng-click="limparCliente()")
                                    i(class="fa fa-times-circle" aria-hidden="true" ng-disabled="check")
                                    and Limpar
                                button(class="btn btn-md btn-success border" ng-click="adicionarCliente(cliente)" ng-disabled="ClienteForm.$invalid")
                                    i(class="fa fa-floppy-o" aria-hidden="true")
                                    and Salvar 
                            div(ng-show="check")
                                button(class="btn btn-md btn-default border" ng-click="limparCliente()")
                                    i(class="fa fa-times-circle" aria-hidden="true" ng-disabled="check")
                                    and Cancelar
                                button(class="btn btn-md btn-success border" ng-click="atualizarCliente(cliente)" ng-disabled="ClienteForm.$invalid")
                                    i(class="fa fa-floppy-o" aria-hidden="true")
                                    and Salvar                     
                //Painel Secundario
                div(class="panel panel-secondary")   
                    div(class="panel-body")
                        //Barra de pesquisa
                        div(class="input-group mb")
                            div(class="input-group-addon")
                                span(class="input-group-text")
                                i(class="fa fa-search" aria-hidden="true") 
                            input(type="text" class="form-control" ng-model="criterioDeBusca")
                        //Tabela que mostra os clientes
                        table(class="table table-bordered   table-responsive")     
                            thead
                                tr(ng-repeat="cliente in clientes " ng-show="$index < 1")
                                    th
                                        a(href="" ng-click="ordenarPor('nome')") Nome
                                    th
                                        a(href="" ng-click="ordenarPor('sobrenome')") Sobrenome
                                    th    
                                        a(href="" ng-click="ordenarPor('email')") Email
                                    th    
                                        a(href="" ng-click="ordenarPor('telefone')") Telefone
                                    th    
                                        a(href="" ng-click="ordenarPor('dataDeNascimento')") Data de Nascimento
                                    th    
                                        a(href="" ng-click="ordenarPor('estado')") Estado
                                    th    
                                        a(href="" ng-click="ordenarPor('cidade')") Cidade
                                    th    
                                        a(href="" ng-click="ordenarPor('sexo')") Sexo
                                    th    
                                        a(href="" ) Opções
                            tr(ng-repeat="cliente in clientes| filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao")
                                td {{cliente.nome}}
                                td {{cliente.sobrenome}}
                                td {{cliente.email}}
                                td {{cliente.telefone}}
                                td {{cliente.dataDeNascimento}}
                                td {{cliente.estado}}
                                td {{cliente.cidade}}
                                td {{cliente.sexo}}
                                //Carregando o idcliente para caso a pessoa deseje editar
                                td(hidden) {{cliente.idCliente}}
                                td
                                    //Buttons de editar/excluir
                                    button(class="btn btn-warning btn-sm" ng-click="editarCliente(cliente)")
                                        i(class="fa fa-pencil-square-o fa-lg" aria-hidden="true")
                                    button(class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#deleteModal" ng-click="salvarCliente(cliente)")
                                        i(class="fa fa-trash-o fa-lg" aria-hidden="true")
            // Modal para confirmação de exclusão do cliente
            div(class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")  
                div(class="modal-dialog" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title" id="modalLable") Excluir
                            //Hidden com o email e o id do cliente
                            hidden(ng-model="cliente.idClienteDelete")
                            hidden(ng-model="cliente.emailClienteDelete")
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") 
                        div(class="modal-body") Tem certeza que deseja excluir o cliente com email: {{cliente.emailClienteDelete}}
                        div(class="modal-footer")
                            button(type="button" class="btn btn-secondary" data-dismiss="modal") Fechar
                            button(type="button" class="btn btn-danger" ng-click="deletarCliente(cliente)" data-dismiss="modal") Sim
    script(src="../lib/angular/angular.js")
    script(src="../js/jquery.js")
    script(src="../js/jquery.mask.js")
    script(src="../js/app.js")
    script(src="../js/controllers/clienteCtrl.js")
    script(src="../lib/bootstrap-3.2/dist/js/bootstrap.js")
    link(rel="stylesheet" type="text/css" href="../lib/bootstrap-3.2/dist/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="../css/style.css")
    link(rel="stylesheet" href="../font-awesome/css/font-awesome.min.css")